body {
    margin: 0;
}

#app {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipes {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    align-items: center;
    padding: 1em;
    border-top: solid 3px black;
}

.recipe_item {
    width: 300px;
    height: 450px;
    border: solid 3px darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: lightgray;
    padding-bottom: 0.5em;
}

.recipe_item > img {
    width: 250px;
}

.recipe_item > button {
    background-color: red;
    color: black;
    border: solid 1px red;
}